* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
}

body {
    background: linear-gradient(#1384f2, #8abeff);
    color: #2b283a;
}